@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,100&display=swap');

:root{
    --primary: #fe2c55;
    --black: #000;
  --text-color: #333;

  --default-layout-header-hight: 60px;
  --default-layout-width: 1150px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}


body{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
}

button, input, [tabindex]{
  outline: none;
  border: none;
}
a[href] {
  color: var(--text-color);
  text-decoration: none;
}