.wrapper{
  display: flex;
  align-items: center;
}
.avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.info{
  flex: 1;
  margin-left: 12px;
}
.name{
  font-size: 1.4rem;
  font-weight: 600;
}
.username{

}