.wrapper{
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
  border-radius: 8px;
  padding-top: 8px;
  max-height: min((100vh - 96px) - 60px, 734px);
  min-height: 100px;
}