.wrapper{
  width: 100%;
  height: var(--default-layout-header-hight);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top: 9px ;
  --search-btn-width: 52px;
}
.inner{
  height: 100%;
  width: var(--default-layout-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search, .search-result{
  width: 361px;
}



.search{
  position: relative;
  height: var(--search-height);
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: var(--search-border-radius);
  padding-left: 16px;
  display: flex;
  border: 1.5px solid transparent;


  input{
    flex: 1;
    color: var(--black);
    font-size: 1.6rem;
    background-color: transparent;
    height: 100%;
    caret-color: var(--primary);
  }
  input:not(:placeholder-shown) ~.search-btn{
    color: rgba(22, 24, 35, 0.75);
  }

  &::after{
    content: "";
    position: absolute;
    top: var(--search-top);
    right: var(--search-btn-width);
    width: 1px;
    height: calc(var(--search-height) - var(--search-top)*2);
    background-color: rgba(22, 24, 35, 0.12);
  }
  &:focus-within{
    border-color:  rgba(22, 24, 35, 0.2);
  }
}

.clear, .loading{
  position: absolute;
  right: calc(var(--search-btn-width) + 16px);
  top: 50%;
  transform: translateY(-50%);
  color: rgba(22, 24, 35, 0.34);

}



.search-btn{
  width: var(--search-btn-width);
  height: 100%;
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);
  font-size: 1.8rem;
  color: rgba(22, 24, 35, 0.34);

  &:hover{
    background-color: rgba(22, 24, 35, 0.03);
    cursor: pointer;
}

  &:active{
    background-color: rgba(22, 24, 35, 0.06) ;
  }
}